n8n workflow/new.json
{
  "name": "new",
  "nodes": [
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -368,
        656
      ],
      "id": "ffe7e491-a8d5-46cb-8f52-274255125cc2",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "dmhwgx8qN6TOlMJI",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3-8b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1248,
        528
      ],
      "id": "31d8ae89-2c3d-45c6-b6e7-748acc7b4f0d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "8RdF2LlGaYzIyHOJ",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your data in pinecone vector store",
        "pineconeIndex": {
          "__rl": true,
          "value": "llama-text-embed-v2-index",
          "mode": "list",
          "cachedResultName": "llama-text-embed-v2-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -496,
        368
      ],
      "id": "07c17fc1-2a43-4e68-af77-f6247aaeca93",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "LlUdiPVrOqXgTwNH",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -624,
        656
      ],
      "id": "b2d49b8d-0086-4849-b05b-21533a7b06ce",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful AI assistant.\nYou must always search the vector store tool to answer questions.\nOnly answer from the retrieved documents.\nIf information is not found, say \"I could not find this in the uploaded document.\"\nDo not answer from your own knowledge.\nBe concise.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -720,
        64
      ],
      "id": "fa58e91f-5588-4900-b75c-39e0887bc85f",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1248,
        96
      ],
      "id": "dda10fe9-c402-40b3-95b7-d0fa64803f24",
      "name": "When chat message received",
      "webhookId": "f8ffffb0-30e2-472a-8a84-b427401bf8a6"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1120,
        -592
      ],
      "id": "888d4f47-1587-474d-af30-e00770f2edf0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const text = $json[\"text\"];\nconst chunkSize = 500; // adjust as needed\nconst chunks = [];\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push({\n    id: `chunk-${i/chunkSize}`,\n    text: text.slice(i, i + chunkSize)\n  });\n}\nreturn chunks.map(c => ({ json: c }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -576
      ],
      "id": "318ce4f6-8ce7-4058-bcdf-2f455a374f13",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        112,
        -304
      ],
      "id": "a4099ba9-d866-4d2f-8b6a-4828ebaa4d46",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "r4BsRqOYgzGQMniZ",
          "name": "CohereApi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "llama-text-embed-v2-index",
          "mode": "list",
          "cachedResultName": "llama-text-embed-v2-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -304,
        -672
      ],
      "id": "31dba2a6-f6d5-492a-a5e2-f82cbdc61e36",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LlUdiPVrOqXgTwNH",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -48,
        -464
      ],
      "id": "17957983-6791-4d40-8038-934a98341679",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -304,
        -192
      ],
      "id": "dc461aa9-36c0-4f2d-ac7a-236d413e3077",
      "name": "Embeddings Cohere2",
      "credentials": {
        "cohereApi": {
          "id": "r4BsRqOYgzGQMniZ",
          "name": "CohereApi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "31355867-d128-443b-bbe5-23926bb488a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e19a95f285e1de80a0c0072a82a02faa63db762fa130ac842bada66130476b0d"
  },
  "id": "9J7mgXbp7rlg9m_ruFfJR",
  "tags": []
}